.hogListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
}

.hogList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hogListItem {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
